name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Define BUILD_LABEL
        env:
          INPUT: ${{ github.head_ref || github.ref_name }}
        run: |
          echo "BUILD_LABEL=${INPUT//\//_}" >> $GITHUB_ENV
    
      - name: Set up Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0 # Allows sonar to collect blame information

      - name: Set build version
        # Cannot use ${BUILD_LABEL} with gradle-build-action, so stuff version
        # into gradle.properties
        run: sed -i 's/^version.*/version = '${BUILD_LABEL}'/;' ./gradle.properties

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          validate-wrappers: true

      - name: Cache SonarCloud packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Run tests
        run: ./gradlew classes check javadoc sonar -s
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Capture junit reports
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: junit-reports
          path: "**/build/reports/tests/test/"
          retention-days: 1
